In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

C:\Users\Isabel\AppData\Local\Temp\ipykernel_232\3698147250.py:9: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='cinemextract_bho')

In [3]:
df_actores = pd.read_csv("../Fase3_datos/Archivos/actores_accion_detalles.csv")
df_actores

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0001002,Dean Cain,1966,\N,"actor,producer,writer","tt0106057,tt0250687,tt0313443,tt2528814"
1,nm0001299,Thomas Ian Griffith,1962,\N,"actor,producer,writer","tt0113313,tt0295701,tt0097647,tt0120877"
2,nm0923529,Justin Whalin,1974,\N,actor,"tt1161064,tt0190374,tt0111127,tt0103956"
3,nm0936365,Jodi Bianca Wise,1971,\N,actress,"tt8773420,tt0482571,tt10329028,tt0364845"
4,nm0006763,Jackie Shroff,1957,\N,"actor,soundtrack,producer","tt0114234,tt0238936,tt0248185,tt9095260"
...,...,...,...,...,...,...
13729,nm13745033,Nick Miller,\N,\N,"actor,writer,director","tt21294600,tt21025456"
13730,nm3435639,Viviana Calderón,\N,\N,actress,"tt21435580,tt7575902,tt12109824,tt21974562"
13731,nm4749252,Johanna Solano,\N,\N,actress,"tt11859518,tt12109824,tt21435580,tt21974204"
13732,nm3726552,Jaime Castro,\N,\N,actor,"tt21435580,tt4295126,tt7575902,tt2114494"
13733,nm6898648,Maria Jose Pereira Herrera,\N,\N,actress,"tt4182804,tt21435580,tt13679830"