# CODIGO UNION ARCHIVOS ROTTEM GENEROS - ACCION

In [2]:
# Importaciones necesarias
import pandas as pd

In [6]:
# Lee los tres archivos CSV en DataFrames
df1 = pd.read_csv('2actores_awards_bbdd.csv')
df2 = pd.read_csv('3actores_awards_bbdd.csv')
df3 = pd.read_csv('actores_awards_bbdd_sindupli.csv')

# Combina los DataFrames en uno solo
df_rotten_accion = pd.concat([df1, df2, df3], ignore_index=True)

In [7]:
# Guarda el DataFrame combinado en un nuevo archivo CSV
df_rotten_accion.to_csv('actores_awards_completo.csv', index=False)

# ELIMINACION DE DUPLICADOS POR GENEROS DE ROTTEM

In [4]:
# AWARDS

# Leer el archivo CSV
df = pd.read_csv('actores_awards_completo.csv')

# Eliminar duplicados basados en todas las columnas
df_sin_duplicados = df.drop_duplicates()

# Guardar el DataFrame sin duplicados en un nuevo archivo CSV
df_sin_duplicados.to_csv('actores_awards_completo_sin_duplicados.csv', index=False)

ELIMINAR LA PRIMERA COLUMNA

In [3]:
actores_premios = pd.read_csv('actores_awards_completo_sin_duplicados.csv')

In [4]:
Tabla_premios = actores_premios.rename(columns={'0':'id_actor','1':'premio'})

In [5]:
Tabla_premios

,Unnamed: 0,id_actor,premio
0,0,nm0001118,"People's Choice Awards, USA, People's Choice A..."
1,1,nm0001118,"People's Choice Awards, USA, People's Choice A..."
2,2,nm0001118,"Photoplay Awards, Gold Medal"
3,3,nm0005286,"Academy of Science Fiction, Fantasy & Horror F..."
4,4,nm0005286,"Academy of Science Fiction, Fantasy & Horror F..."
...,...,...,...
41551,2182,nm0605080,"Ft. Lauderdale International Film Festival, Pr..."
41552,2183,nm0605080,"Film Independent Spirit Awards, Special Distin..."
41553,2184,nm0605080,"Hang Onto Your Shorts Film Festival, NJ, Best ..."
41554,2185,nm0605080,"Gold Movie Awards, January Award"
41555,2186,nm0605080,"Independent Shorts Awards, Platinum Award"

In [11]:
Tabla_premios.columns

Index(['Unnamed: 0', 'id_actor', 'premio'], dtype='object')

In [12]:
# Eliminar la columna 'B' del DataFrame
df_Tabla_premios = Tabla_premios.drop('Unnamed: 0', axis=1)

In [14]:
df_Tabla_premios

        id_actor                                             premio
0      nm0001118  People's Choice Awards, USA, People's Choice A...
1      nm0001118  People's Choice Awards, USA, People's Choice A...
2      nm0001118                       Photoplay Awards, Gold Medal
3      nm0005286  Academy of Science Fiction, Fantasy & Horror F...
4      nm0005286  Academy of Science Fiction, Fantasy & Horror F...
...          ...                                                ...
41551  nm0605080  Ft. Lauderdale International Film Festival, Pr...
41552  nm0605080  Film Independent Spirit Awards, Special Distin...
41553  nm0605080  Hang Onto Your Shorts Film Festival, NJ, Best ...
41554  nm0605080                   Gold Movie Awards, January Award
41555  nm0605080          Independent Shorts Awards, Platinum Award

[41556 rows x 2 columns]

In [15]:
df_Tabla_premios.to_csv('actores_awards_definitiva.csv', index=False)