In [2]:
import numpy as np
import json
import pandas as pd

C:\Users\maria\AppData\Local\Temp\ipykernel_8820\3038981905.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

**ACCION**

Abrimos fichero acción IMDB

In [19]:
imdb_accion = pd.read_csv("Archivos_IMDB/accion_IMDB_clean.csv")

In [20]:
imdb_accion.head()

,0,1,2,3,4,5
0,tt0485535,Lalji B. Yadav,K.K. Gupta,5.3,2h 16min,Dirección
1,tt0772175,John Charles Hunt,John Charles Hunt,5.8,1h 40min,A suburban woman witnesses her husbands murder...
2,tt0829150,Gary Shore,"Matt Sazama, Burk Sharpless, Bram Stoker",6.2,1h 32min,NaN
3,tt0831387,Gareth Edwards,"Ishirô Honda, Takeo Murata, Shigeru Kayama",6.4,2h 3min,NaN
4,tt0835775,Tristan Patterson,"Timothy Ford, Tristan Patterson",4.6,1h 35min,A chronicle of the life of furniture salesman ...

Renombramos columnas

In [29]:
imdb_accion.columns

Index(['0', '1', '2', '3', '4', '5'], dtype='object')

In [32]:
imdb_accion2 = imdb_accion.rename(columns={'0':'id_film','1':'Direccion','2':'Guion','3':'Puntuacion_IMDB','4':'Duracion','5':'Argumento'})

In [33]:
imdb_accion2

,id_film,Direccion,Guion,Puntuacion_IMDB,Duracion,Argumento
0,tt0485535,Lalji B. Yadav,K.K. Gupta,5.3,2h 16min,Dirección
1,tt0772175,John Charles Hunt,John Charles Hunt,5.8,1h 40min,A suburban woman witnesses her husbands murder...
2,tt0829150,Gary Shore,"Matt Sazama, Burk Sharpless, Bram Stoker",6.2,1h 32min,NaN
3,tt0831387,Gareth Edwards,"Ishirô Honda, Takeo Murata, Shigeru Kayama",6.4,2h 3min,NaN
4,tt0835775,Tristan Patterson,"Timothy Ford, Tristan Patterson",4.6,1h 35min,A chronicle of the life of furniture salesman ...
...,...,...,...,...,...,...
2903,tt11005524,Mauro Borrelli,Sean Wathen,NaN,NaN,A police detective hunts down the elusive prof...
2904,tt11023732,Venu Udugula,Venu Udugula,6.7,2h 31min,Set against the backdrop of the Naxal movement...
2905,tt11116912,Roar Uthaug,"Espen Aukan, Roar Uthaug",5.8,1h 41min,NaN
2906,tt11138512,Robert Eggers,"Sjón, Robert Eggers",7.0,2h 17min,NaN
2907,tt11151916,John V. Soto,"Adam Enslow, Dane Millerd, Andrew Slattery",5.3,1h 28min,NaN

Abrimos ficheros Rottem Accion

In [8]:
rottem_accion = pd.read_csv("Archivos_ROTTEM/rottem_accion.csv")

In [10]:
rottem_accion.head()

           0    1
0  tt0113092  60%
1  tt0116391  60%
2  tt0116628  60%
3  tt0119273   8%
4  tt0120755   8%

In [34]:
rottem_accion_2 = rottem_accion.rename(columns={'0':'id_film','1':'Puntuacion_Rottem'})

Combinamos ficheros IMDB & ROTTEM Acción

In [36]:
df_combined = pd.merge(imdb_accion2, rottem_accion_2, left_on='id_film', right_on='id_film', how='inner')

In [37]:
accion = df_combined[['id_film','Direccion', 'Guion','Puntuacion_IMDB','Puntuacion_Rottem','Duracion','Argumento']]

In [38]:
accion

,id_film,Direccion,Guion,Puntuacion_IMDB,Puntuacion_Rottem,Duracion,Argumento
0,tt0485535,Lalji B. Yadav,K.K. Gupta,5.3,61%,2h 16min,Dirección
1,tt0772175,John Charles Hunt,John Charles Hunt,5.8,61%,1h 40min,A suburban woman witnesses her husbands murder...
2,tt0829150,Gary Shore,"Matt Sazama, Burk Sharpless, Bram Stoker",6.2,61%,1h 32min,NaN
3,tt0831387,Gareth Edwards,"Ishirô Honda, Takeo Murata, Shigeru Kayama",6.4,76%,2h 3min,NaN
4,tt0835775,Tristan Patterson,"Timothy Ford, Tristan Patterson",4.6,76%,1h 35min,A chronicle of the life of furniture salesman ...
...,...,...,...,...,...,...,...
2672,tt11005524,Mauro Borrelli,Sean Wathen,NaN,91%,NaN,A police detective hunts down the elusive prof...
2673,tt11023732,Venu Udugula,Venu Udugula,6.7,91%,2h 31min,Set against the backdrop of the Naxal movement...
2674,tt11116912,Roar Uthaug,"Espen Aukan, Roar Uthaug",5.8,90%,1h 41min,NaN
2675,tt11138512,Robert Eggers,"Sjón, Robert Eggers",7.0,90%,2h 17min,NaN
2676,tt11151916,John V. Soto,"Adam Enslow, Dane Millerd, Andrew Slattery",5.3,80%,1h 28min,NaN

In [39]:
accion.to_csv('DFFase2_accion.csv', index=False)

**DRAMA**

In [40]:
imdb_drama = pd.read_csv("Archivos_IMDB/drama_IMDB_clean.csv")

Renombramos columnas IMDB

In [41]:
imdb_drama2 = imdb_drama.rename(columns={'0':'id_film','1':'Direccion','2':'Guion','3':'Puntuacion_IMDB','4':'Duracion','5':'Argumento'})

In [43]:
rottem_drama = pd.read_csv("Archivos_ROTTEM/rottem_drama.csv")

Renombramos columnas Rottem

In [ ]:
rottem_drama_2 = rottem_drama.rename(columns={'0':'id_film','1':'Puntuacion_Rottem'})

Combinamos IMDB & ROTTEM

In [ ]:
df_combined = pd.merge(imdb_drama2, rottem_drama_2, left_on='id_film', right_on='id_film', how='inner')

In [ ]:
drama = df_combined[['id_film','Direccion', 'Guion','Puntuacion_IMDB','Puntuacion_Rottem','Duracion','Argumento']]

In [ ]:
drama.to_csv('DFFase2_drama.csv', index=False)

**COMEDIA**

In [3]:
imdb_comedia = pd.read_csv("Archivos_IMDB/comedia_IMDB_clean.csv")

Renombramos columnas IMDB

In [4]:
imdb_comedia2 = imdb_comedia.rename(columns={'0':'id_film','1':'Direccion','2':'Guion','3':'Puntuacion_IMDB','4':'Duracion','5':'Argumento'})

In [6]:
rottem_comedia = pd.read_csv("Archivos_ROTTEM/rottem_comedia.csv")

Renombramos columnas Rottem

In [7]:
rottem_comedia_2 = rottem_comedia.rename(columns={'0':'id_film','1':'Puntuacion_Rottem'})

Combinamos IMDB & ROTTEM

In [8]:
df_combined = pd.merge(imdb_comedia2, rottem_comedia_2, left_on='id_film', right_on='id_film', how='inner')

In [9]:
comedia = df_combined[['id_film','Direccion', 'Guion','Puntuacion_IMDB','Puntuacion_Rottem','Duracion','Argumento']]

In [10]:
comedia.to_csv('DFFase2_comeida.csv', index=False)

Generamos un único archivo con los 3 géneros

In [29]:
df_accion = pd.read_csv("DFFase2_accion.csv")
df_comedia = pd.read_csv("DFFase2_comedia.csv")
df_drama = pd.read_csv("DFFase2_drama.csv")

Añadimos la columna Genero

In [30]:
Genero = "Accion"

In [31]:
df_accion['Genero'] = Genero

In [32]:
df_accion

,id_film,Direccion,Guion,Puntuacion_IMDB,Puntuacion_Rottem,Duracion,Argumento,Genero
0,tt0485535,Lalji B. Yadav,K.K. Gupta,5.3,61%,2h 16min,Dirección,Accion
1,tt0772175,John Charles Hunt,John Charles Hunt,5.8,61%,1h 40min,A suburban woman witnesses her husbands murder...,Accion
2,tt0829150,Gary Shore,"Matt Sazama, Burk Sharpless, Bram Stoker",6.2,61%,1h 32min,NaN,Accion
3,tt0831387,Gareth Edwards,"Ishirô Honda, Takeo Murata, Shigeru Kayama",6.4,76%,2h 3min,NaN,Accion
4,tt0835775,Tristan Patterson,"Timothy Ford, Tristan Patterson",4.6,76%,1h 35min,A chronicle of the life of furniture salesman ...,Accion
...,...,...,...,...,...,...,...,...
2672,tt11005524,Mauro Borrelli,Sean Wathen,NaN,91%,NaN,A police detective hunts down the elusive prof...,Accion
2673,tt11023732,Venu Udugula,Venu Udugula,6.7,91%,2h 31min,Set against the backdrop of the Naxal movement...,Accion
2674,tt11116912,Roar Uthaug,"Espen Aukan, Roar Uthaug",5.8,90%,1h 41min,NaN,Accion
2675,tt11138512,Robert Eggers,"Sjón, Robert Eggers",7.0,90%,2h 17min,NaN,Accion
2676,tt11151916,John V. Soto,"Adam Enslow, Dane Millerd, Andrew Slattery",5.3,80%,1h 28min,NaN,Accion

In [33]:
Genero2 = "Comedia"

In [34]:
df_comedia['Genero'] = Genero2

In [35]:
df_comedia

,id_film,Direccion,Guion,Puntuacion_IMDB,Puntuacion_Rottem,Duracion,Argumento,Genero
0,tt0147486,Tom Putnam,"Michael S. Harbour, Jeff Malmberg, Tom Putnam",4.1,67%,1h 30min,Steven Byzinsky is convinced he's a blaxploita...,Comedia
1,tt0160127,"Mc, G","Ryan Rowe, Ed Solomon, John August",5.6,16%,1h 38min,NaN,Comedia
2,tt0168504,Scott Wiper,Scott Wiper,5.6,37%,1h 41min,A Chicago cop quits the force and finds himsel...,Comedia
3,tt0179987,Nicolas Wadimoff,"Nicolas Wadimoff, Moussa Maaskri, Louis Bélanger",6.1,0%,1h 40min,Une station-service au bord de l'autoroute. Ab...,Comedia
4,tt0181836,Craig Mazin,James Gunn,5.7,47%,1h 22min,The sixth or seventh best superhero team in th...,Comedia
...,...,...,...,...,...,...,...,...
2977,tt13320622,"Aaron Nee, Adam Nee","Oren Uziel, Dana Fox, Adam Nee",6.1,56%,1h 52min,NaN,Comedia
2978,tt10151854,David F. Sandberg,"Henry Gayden, Chris Morgan, Bill Parker",5.9,49%,2h 10min,NaN,Comedia
2979,tt10364034,Jeremy Zag,"Jeremy Zag, Bettina Lopez Mendoza, Thomas Astruc",6.1,50%,1h 45min,NaN,Comedia
2980,tt10954600,Peyton Reed,"Jeff Loveness, Stan Lee, Larry Lieber",6.1,46%,2h 4min,NaN,Comedia
2981,tt11274492,Tyler Spindel,"Ben Zazove, Evan Turner",5.4,21%,1h 35min,NaN,Comedia

In [36]:
Genero3 = 'Drama'

In [37]:
df_drama['Genero'] = Genero3

In [38]:
df_drama

,id_film,Direccion,Guion,Puntuacion_IMDB,Puntuacion_Rottem,Duracion,Argumento,Genero
0,tt0113092,"David Douglas, Tim Douglas","David Douglas, Christopher Salazar",3.4,19%,1h 40min,Earth is in a state of constant war and two co...,Drama
1,tt0113086,Michael New,NaN,6.8,46%,2000,"Florentino is a young horseman and singer, a f...",Drama
2,tt0116748,Rakesh Roshan,"Sachin Bhowmick, Ravi Kapoor, Sagar Sarhadi",3.7,46%,3h,Wealthy Rajiv Sinha and middle-classed Amar Sa...,Drama
3,tt0115874,Marcos Manhães Marins,Marcos Manhães Marins,NaN,46%,NaN,Dirección,Drama
4,tt0116391,Mazhar Khan,NaN,6.2,46%,2h 47min,NaN,Drama
...,...,...,...,...,...,...,...,...
4319,tt10592842,Suridh Das-Hassan,Suridh Das-Hassan,NaN,00%,NaN,Struggling artist Ezra becomes obsessed with t...,Drama
4320,tt10603372,Lisa Bierwirth,"Hannes Held, Lisa Bierwirth",6.5,00%,2h 5min,"In Frankfurt's Bahnhofsviertel, two people mee...",Drama
4321,tt10605812,Mauricio Eça,"Ilana Casoy, Raphael Montes",5.9,00%,1h 25min,NaN,Drama
4322,tt10607372,Scott Rivers,Scott Rivers,NaN,00%,NaN,The Horrible Hunters Follows The Life Of 5 Hun...,Drama
4323,tt10607058,Amy Poux,Amy Poux,NaN,00%,NaN,Dirección,Drama

In [39]:
df_detalles_películas = pd.concat([df_drama, df_accion, df_comedia], axis=0, ignore_index=True)

In [47]:
df_detalles_películas

,id_film,Direccion,Guion,Puntuacion_IMDB,Puntuacion_Rottem,Duracion,Argumento,Genero
3855,tt0011216,Germaine Dulac,Louis Delluc,7.0,69%,1h 7min,"Coveted by two different men, a woman turns to...",Drama
3965,tt0062336,"Raúl Ruiz, Valeria Sarmiento","Raúl Ruiz, Omar Saavedra Santis",6.4,71%,1h 10min,NaN,Drama
3808,tt0069049,Orson Welles,"Orson Welles, Oja Kodar",6.7,83%,2h 2min,NaN,Drama
3856,tt0083060,Nuanxing Zhang,"Tuo Li, Nuanxing Zhang",6.6,69%,1h 24min,Sha Ou is a volleyball player and works hard a...,Drama
9461,tt0087963,Dean Shek,NaN,6.7,71%,1h 37min,"To get their parents back together, two clever...",Comedia
...,...,...,...,...,...,...,...,...
5762,tt1322302,Diego Velasco,"Diego Velasco, Carolina Paiz",6.7,42%,1h 40min,"The Zero Hour is a gritty, fast-paced heist fi...",Accion
9976,tt13245502,Vimal Krishna,"Vimal Krishna, Sidhu Jonnalagadda",7.2,78%,2h 1min,A lazy young man spends his time chasing girls...,Comedia
9977,tt13314558,J.J. Perry,"Tyler Tice, Shay Hatten",6.1,56%,1h 53min,NaN,Comedia
9978,tt13320622,"Aaron Nee, Adam Nee","Oren Uziel, Dana Fox, Adam Nee",6.1,56%,1h 52min,NaN,Comedia
4345,tt3564806,"Leon Ding, Fuyuan Liu, Paulette Victor Lifton","Brian Bullock, Tiechi Cui, Que Dai",4.6,85%,1h 35min,The story starts when two boxes are switched m...,Accion

Ordenamos columnas

In [51]:
columnas = list(df_detalles_películas.columns)

In [52]:
columnas[1],columnas[2],columnas[3],columnas[4],columnas[5],columnas[6],columnas[7]= columnas[7],columnas[1],columnas[2],columnas[3],columnas[4],columnas[5],columnas[6]

columnas

['id_film',
 'Genero',
 'Direccion',
 'Guion',
 'Puntuacion_IMDB',
 'Puntuacion_Rottem',
 'Duracion',
 'Argumento']

In [53]:
df_detalles_películas = df_detalles_películas[columnas]

In [54]:
df_detalles_películas

,id_film,Genero,Direccion,Guion,Puntuacion_IMDB,Puntuacion_Rottem,Duracion,Argumento
3855,tt0011216,Drama,Germaine Dulac,Louis Delluc,7.0,69%,1h 7min,"Coveted by two different men, a woman turns to..."
3965,tt0062336,Drama,"Raúl Ruiz, Valeria Sarmiento","Raúl Ruiz, Omar Saavedra Santis",6.4,71%,1h 10min,NaN
3808,tt0069049,Drama,Orson Welles,"Orson Welles, Oja Kodar",6.7,83%,2h 2min,NaN
3856,tt0083060,Drama,Nuanxing Zhang,"Tuo Li, Nuanxing Zhang",6.6,69%,1h 24min,Sha Ou is a volleyball player and works hard a...
9461,tt0087963,Comedia,Dean Shek,NaN,6.7,71%,1h 37min,"To get their parents back together, two clever..."
...,...,...,...,...,...,...,...,...
5762,tt1322302,Accion,Diego Velasco,"Diego Velasco, Carolina Paiz",6.7,42%,1h 40min,"The Zero Hour is a gritty, fast-paced heist fi..."
9976,tt13245502,Comedia,Vimal Krishna,"Vimal Krishna, Sidhu Jonnalagadda",7.2,78%,2h 1min,A lazy young man spends his time chasing girls...
9977,tt13314558,Comedia,J.J. Perry,"Tyler Tice, Shay Hatten",6.1,56%,1h 53min,NaN
9978,tt13320622,Comedia,"Aaron Nee, Adam Nee","Oren Uziel, Dana Fox, Adam Nee",6.1,56%,1h 52min,NaN
4345,tt3564806,Accion,"Leon Ding, Fuyuan Liu, Paulette Victor Lifton","Brian Bullock, Tiechi Cui, Que Dai",4.6,85%,1h 35min,The story starts when two boxes are switched m...

In [ ]:
df_detalles_películas.to_csv('df_detalles_películas.csv', index=False)