In [1]:
import numpy as np
import json
import pandas as pd

C:\Users\maria\AppData\Local\Temp\ipykernel_8024\3038981905.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
columnas_imbd = ['id_film','Direccion', 'Guion','Puntuacion','Duracion','Argumento']

In [19]:
imdb_accion = pd.read_csv("Archivos_IMDB/accion_IMDB_clean.csv")

In [20]:
imdb_accion.head()

,0,1,2,3,4,5
0,tt0485535,Lalji B. Yadav,K.K. Gupta,5.3,2h 16min,Dirección
1,tt0772175,John Charles Hunt,John Charles Hunt,5.8,1h 40min,A suburban woman witnesses her husbands murder...
2,tt0829150,Gary Shore,"Matt Sazama, Burk Sharpless, Bram Stoker",6.2,1h 32min,NaN
3,tt0831387,Gareth Edwards,"Ishirô Honda, Takeo Murata, Shigeru Kayama",6.4,2h 3min,NaN
4,tt0835775,Tristan Patterson,"Timothy Ford, Tristan Patterson",4.6,1h 35min,A chronicle of the life of furniture salesman ...

In [29]:
imdb_accion.columns

Index(['0', '1', '2', '3', '4', '5'], dtype='object')

In [32]:
imdb_accion2 = imdb_accion.rename(columns={'0':'id_film','1':'Direccion','2':'Guion','3':'Puntuacion_IMDB','4':'Duracion','5':'Argumento'})

In [33]:
imdb_accion2

,id_film,Direccion,Guion,Puntuacion_IMDB,Duracion,Argumento
0,tt0485535,Lalji B. Yadav,K.K. Gupta,5.3,2h 16min,Dirección
1,tt0772175,John Charles Hunt,John Charles Hunt,5.8,1h 40min,A suburban woman witnesses her husbands murder...
2,tt0829150,Gary Shore,"Matt Sazama, Burk Sharpless, Bram Stoker",6.2,1h 32min,NaN
3,tt0831387,Gareth Edwards,"Ishirô Honda, Takeo Murata, Shigeru Kayama",6.4,2h 3min,NaN
4,tt0835775,Tristan Patterson,"Timothy Ford, Tristan Patterson",4.6,1h 35min,A chronicle of the life of furniture salesman ...
...,...,...,...,...,...,...
2903,tt11005524,Mauro Borrelli,Sean Wathen,NaN,NaN,A police detective hunts down the elusive prof...
2904,tt11023732,Venu Udugula,Venu Udugula,6.7,2h 31min,Set against the backdrop of the Naxal movement...
2905,tt11116912,Roar Uthaug,"Espen Aukan, Roar Uthaug",5.8,1h 41min,NaN
2906,tt11138512,Robert Eggers,"Sjón, Robert Eggers",7.0,2h 17min,NaN
2907,tt11151916,John V. Soto,"Adam Enslow, Dane Millerd, Andrew Slattery",5.3,1h 28min,NaN

In [8]:
rottem_accion = pd.read_csv("Archivos_ROTTEM/rottem_accion.csv")

In [10]:
rottem_accion.head()

           0    1
0  tt0113092  60%
1  tt0116391  60%
2  tt0116628  60%
3  tt0119273   8%
4  tt0120755   8%

In [34]:
rottem_accion_2 = rottem_accion.rename(columns={'0':'id_film','1':'Puntuacion_Rottem'})

In [36]:
df_combined = pd.merge(imdb_accion2, rottem_accion_2, left_on='id_film', right_on='id_film', how='inner')

In [37]:
accion = df_combined[['id_film','Direccion', 'Guion','Puntuacion_IMDB','Puntuacion_Rottem','Duracion','Argumento']]

In [38]:
accion

,id_film,Direccion,Guion,Puntuacion_IMDB,Puntuacion_Rottem,Duracion,Argumento
0,tt0485535,Lalji B. Yadav,K.K. Gupta,5.3,61%,2h 16min,Dirección
1,tt0772175,John Charles Hunt,John Charles Hunt,5.8,61%,1h 40min,A suburban woman witnesses her husbands murder...
2,tt0829150,Gary Shore,"Matt Sazama, Burk Sharpless, Bram Stoker",6.2,61%,1h 32min,NaN
3,tt0831387,Gareth Edwards,"Ishirô Honda, Takeo Murata, Shigeru Kayama",6.4,76%,2h 3min,NaN
4,tt0835775,Tristan Patterson,"Timothy Ford, Tristan Patterson",4.6,76%,1h 35min,A chronicle of the life of furniture salesman ...
...,...,...,...,...,...,...,...
2672,tt11005524,Mauro Borrelli,Sean Wathen,NaN,91%,NaN,A police detective hunts down the elusive prof...
2673,tt11023732,Venu Udugula,Venu Udugula,6.7,91%,2h 31min,Set against the backdrop of the Naxal movement...
2674,tt11116912,Roar Uthaug,"Espen Aukan, Roar Uthaug",5.8,90%,1h 41min,NaN
2675,tt11138512,Robert Eggers,"Sjón, Robert Eggers",7.0,90%,2h 17min,NaN
2676,tt11151916,John V. Soto,"Adam Enslow, Dane Millerd, Andrew Slattery",5.3,80%,1h 28min,NaN

In [39]:
accion.to_csv('DFFase2_accion.csv', index=False)

In [40]:
imdb_drama = pd.read_csv("Archivos_IMDB/drama_IMDB_clean.csv")

In [41]:
imdb_drama2 = imdb_drama.rename(columns={'0':'id_film','1':'Direccion','2':'Guion','3':'Puntuacion_IMDB','4':'Duracion','5':'Argumento'})

In [43]:
rottem_drama = pd.read_csv("Archivos_ROTTEM/rottem_drama.csv")

In [ ]:
rottem_drama_2 = rottem_drama.rename(columns={'0':'id_film','1':'Puntuacion_Rottem'})

In [ ]:
df_combined = pd.merge(imdb_drama2, rottem_drama_2, left_on='id_film', right_on='id_film', how='inner')

In [ ]:
drama = df_combined[['id_film','Direccion', 'Guion','Puntuacion_IMDB','Puntuacion_Rottem','Duracion','Argumento']]

In [ ]:
drama.to_csv('DFFase2_drama.csv', index=False)