In [4]:
#!pip install mysql-connector
#después
#!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/maite/opt/anaconda3/lib/python3.9/site-packages (8.3.0)

In [ ]:
#instalar la extensión sqlalchemy

In [5]:

# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import sqlite3
import io

In [6]:
# creamos la conexión con los argumentos:

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='proyecto_pelis')

In [38]:

# el nombre del archivo csv 
file = io.StringIO("Fase1_total_completo.csv")

db = sqlite3.connect(":memory:")

df = pd.read_csv(file, header=None, names=("id_pelicula", "Genero", "Titulo", "Tipo", "Año_estreno", "Mes_estreno"))
df.to_sql("df", db, index=False)


try: 
    mycursor = db.cursor()
    sql = ("INSERT INTO Peliculas (id_pelicula, Genero, Titulo, Tipo, Año_estreno, Mes_estreno) VALUES (?,?,?,?,?,?,?)")
    values = ("valor_id", "valor_genero", "valor_titulo", "valor_tipo", "valor_año", "valor_mes")
    mycursor.execute(sql, values)
    
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

for row in mycursor.fetchall():
    print(row)
    
cnx.close()

OperationalError: no such table: Peliculas