In [2]:
# Importaciones necesarias
import pandas as pd

In [ ]:
# LIMPIEZA DE DUPLICADOS

In [3]:
# 1. ACCION
# Leer el archivo CSV
df = pd.read_csv('tupla_accion.csv')

# Eliminar duplicados basados en todas las columnas
df_sin_duplicados = df.drop_duplicates()

# Guardar el DataFrame sin duplicados en un nuevo archivo CSV
df_sin_duplicados.to_csv('tupla_accion_sin_duplicados.csv', index=False)

In [4]:
# 2. COMEDIA
# Leer el archivo CSV
df = pd.read_csv('tupla_comedia.csv')

# Eliminar duplicados basados en todas las columnas
df_sin_duplicados = df.drop_duplicates()

# Guardar el DataFrame sin duplicados en un nuevo archivo CSV
df_sin_duplicados.to_csv('tupla_comedia_sin_duplicados.csv', index=False)

In [5]:
# 3. DRAMA
# Leer el archivo CSV
df = pd.read_csv('tupla_drama.csv')

# Eliminar duplicados basados en todas las columnas
df_sin_duplicados = df.drop_duplicates()

# Guardar el DataFrame sin duplicados en un nuevo archivo CSV
df_sin_duplicados.to_csv('tupla_drama_sin_duplicados.csv', index=False)

In [ ]:
# AGRUPACION 3 GENEROS EN 1 CSV

In [7]:
# Lee los tres archivos CSV en DataFrames
df1 = pd.read_csv('tupla_accion_sin_duplicados.csv')
df2 = pd.read_csv('tupla_comedia_sin_duplicados.csv')
df3 = pd.read_csv('tupla_drama_sin_duplicados.csv')

# Combina los DataFrames en uno solo
df_fase1 = pd.concat([df1, df2, df3], ignore_index=True)

In [8]:
# Guarda el DataFrame combinado en un nuevo archivo CSV
df_fase1.to_csv('fase1_agrupacion_completo.csv', index=False)

In [ ]:
# RENOMBRAR COLUMNAS

In [6]:
import numpy as np
import json
import pandas as pd

In [ ]:
columnas_fase1= ['id_pelicula','Genero', 'Nombre','Tipo','Año_estreno','Mes_estreno']

In [9]:
fase1_preparacion = pd.read_csv("fase1_agrupacion_completo.csv")

In [10]:
fase1_preparacion.head()

           0       1                       2      3     4    5
0  tt0113092  accion           For the Cause  movie  2002    5
1  tt0116391  accion                    Gang  movie  2000    4
2  tt0116628  accion        The Incorporated  movie  2000  NaN
3  tt0119273  accion        Heavy Metal 2000  movie  2000    5
4  tt0120755  accion  Mission: Impossible II  movie  2000    7

In [11]:
fase1_preparacion.columns

Index(['0', '1', '2', '3', '4', '5'], dtype='object')

In [12]:
fase1_OK = fase1_preparacion.rename(columns={'0':'id_pelicula','1':'Genero','2':'Nombre','3':'Tipo','4':'Año_estreno','5':'Mes_estreno'})

In [13]:
fase1_OK

,id_pelicula,Genero,Nombre,Tipo,Año_estreno,Mes_estreno
0,tt0113092,accion,For the Cause,movie,2002,5
1,tt0116391,accion,Gang,movie,2000,4
2,tt0116628,accion,The Incorporated,movie,2000,NaN
3,tt0119273,accion,Heavy Metal 2000,movie,2000,5
4,tt0120755,accion,Mission: Impossible II,movie,2000,7
...,...,...,...,...,...,...
13472,tt16437278,drama,The Strays,movie,2023,2
13473,tt7984562,drama,Statica,movie,2023,3
13474,tt16431882,drama,Brooklyn 45,movie,2023,6
13475,tt16369708,drama,Yaneura no Raja,movie,2023,12
13476,tt8593824,drama,The Old Way,movie,2023,6

In [14]:
len(fase1_OK)

13477

In [ ]:
# Guardar el DataFrame sin duplicados en un nuevo archivo CSV
fase1_OK.to_csv('fase1_total_completo.csv', index=False)

In [4]:
#renombrar las columnas para adaptarlas a la tabla en SQL
df = pd.read_csv('fase1_total_completo.csv')

df.rename(columns={'Nombre':"Titulo"}, inplace=True)

df.to_csv('fase1_total_completo.csv', index=False)